@model StudentDevelopmentPortal.Models.AdminModels.Problem
@{
    Layout = "~/Views/Shared/_FacultyLayout.cshtml";
    var FacultyId = ViewBag.FacultyId;
}
<form method="post" style="height: 730px; overflow-y: auto;">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary fw-bold">Remove Problem</h2>
            </hr>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="ProblemId" class="p-0"></label>
            <input asp-for="ProblemId" type="text" class="form-control" readonly/>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Statement" class="p-0">Problem Statement</label>
            <textarea asp-for="Statement" class="form-control" readonly></textarea>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Description" class="p-0">Description</label>
            <textarea asp-for="Description" class="form-control" readonly></textarea>
        </div>

        <div class="mb-3 p-1">
    <label asp-for="Inputs" class="p-0">Inputs</label>
    <textarea asp-for="Inputs" class="form-control" rows="3"></textarea>
</div>

<div class="mb-3 p-1">
    <label asp-for="Outputs" class="p-0">Outputs</label>
    <textarea asp-for="Outputs" class="form-control"></textarea>
</div>
        <div class="mb-3 p-1">
            <label asp-for="TimeComplexity" class="p-0">Time Complexity</label>
            <input asp-for="TimeComplexity" type="text" class="form-control" readonly/>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="SpaceComplexity" class="p-0">Space Complexity</label>
            <input asp-for="SpaceComplexity" type="text" class="form-control" readonly/>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Level" class="p-0">Level</label>
            <select asp-for="Level" class="form-control" disabled>
                <option value="">Please select</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>
        </div>

        <div class="mb-3 p-1">
            <label asp-for="Hint" class="p-0">Hint</label>
            <textarea asp-for="Hint" class="form-control" readonly></textarea>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Solution" class="p-0">Solution</label>
            <textarea asp-for="Solution" class="form-control" readonly></textarea>
        </div>


        <div class="mb-3 p-1">
            <label asp-for="CourseId" class="p-0">Solution</label>
            <textarea asp-for="CourseId" class="form-control"></textarea>
            <span asp-validation-for="CourseId" class="text-danger"></span>
        </div>

         <div class="mb-3 p-1">
            <label asp-for="FacultyId" class="p-0">Solution</label>
            <textarea asp-for="FacultyId" class="form-control"></textarea>
            <span asp-validation-for="FacultyId" class="text-danger"></span>
        </div>


        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Remove</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="FacultyProblem" asp-action="ProblemIndex" asp-route-FacultyId="@ViewBag.FacultyId" class="btn btn-secondary border form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>