@model StudentDevelopmentPortal.Models.AdminModels.JobReadiness
@{
    Layout = "~/Views/Shared/_FacultyLayout.cshtml";
    var FacultyId = ViewBag.FacultyId;
}
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary fw-bold">Add Job Readiness Question</h2>
        </div>

        <div class="mb-3 p-1">
            <label asp-for="QuestionId" class="p-0"></label>
            <input asp-for="QuestionId" type="text" class="form-control" readonly/>
        </div>

       <div class="mb-3 p-1">
    <label asp-for="Type" class="p-0"></label>
    <select asp-for="Type" class="form-control" disabled>
        <option value="">Select Type</option>
        <option value="Apptitude">Apptitude</option>
        <option value="Personal">Personal</option>
        <option value="Technical">Technical</option>
        <option value="Communication">Communication</option>
        <!-- Add other options here -->
    </select>
</div>

        <div class="mb-3 p-1">
            <label asp-for="Question" class="p-0"></label>
            <textarea asp-for="Question" class="form-control" readonly></textarea>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Answer" class="p-0"></label>
            <textarea asp-for="Answer" class="form-control" readonly></textarea>
        </div>

        <div class="mb-3 p-1">
            <label asp-for="FacultyId" class="p-0">Faculty</label>

            <select asp-for="FacultyId" class="form-control" disabled>
                <option value="@ViewBag.FacultyId" selected>@ViewBag.FacultyName</option>
            </select>
            <span asp-validation-for="FacultyId" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Remove</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="FacultyJobReadiness" asp-action="Index" asp-route-FacultyId="@FacultyId" class="btn btn-secondary border form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
                                <partial name="_ValidationScriptsPartial" />
    }
}
