@model StudentDevelopmentPortal.Models.AdminModels.Admin

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary fw-bold">Remove Admin</h2>
            <hr />
        </div>
        <div class="mb-3 p-1">
            <label asp-for="AdminId" class="p-0"></label>
            <input asp-for="AdminId" type="text" class="form-control" readonly/>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="AdminName" class="p-0"></label>
            <input asp-for="AdminName" type="text" class="form-control" readonly/>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="AdminEmail" class="p-0"></label>
            <input asp-for="AdminEmail" type="email" class="form-control" readonly/>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Remove</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary border form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>

@*for client site validation (validate without submit button) we need to use js script in create.cshtml *@
@section Scripts {
    @{
                        <partial name="_ValidationScriptsPartial"/>
    }
}
