@model StudentDevelopmentPortal.Models.AdminModels.Student

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary fw-bold">Edit Student Info</h2>
			</hr>
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3 p-1">
			<label asp-for="Prn" class="p-0"></label>
			<input asp-for="Prn" type="text" class="form-control" readonly/>
		</div>
		<div class="mb-3 p-1">
			<label asp-for="Password" class="p-0"></label>
			<input asp-for="Password" type="text" class="form-control"/>
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		<div class="mb-3 p-1">
			<label asp-for="FullName" class="p-0"></label>
			<input asp-for="FullName" type="text" class="form-control"/>
			<span asp-validation-for="FullName" class="text-danger"></span>
		</div>
		<div class="mb-3 p-1">
			<label asp-for="Email" class="p-0"></label>
			<input asp-for="Email" type="email" class="form-control"/>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="mb-3 p-1">
			<label asp-for="Contact" class="p-0"></label>
			<input asp-for="Contact" type="text" class="form-control"/>
			<span asp-validation-for="Contact" class="text-danger"></span>
		</div>
		<div class="mb-3 p-1">
			<label asp-for="Program" class="p-0"></label>
			<select asp-for="Program" class="form-control">
				<option value="">Please select</option>
				<option value="FS BE-I">FS BE-I</option>
				<option value="SS BE-I">SS BE-I</option>
				<option value="FS BE-II">FS BE-II</option>
				<option value="SS BE-II">SS BE-II</option>
				<option value="FS BE-III">FS BE-III</option>
				<option value="SS BE-III">SS BE-III</option>
				<option value="FS BE-IV">FS BE-IV</option>
				<option value="SS BE-IV">SS BE-IV</option>
			</select>
			<span asp-validation-for="Program" class="text-danger"></span>
		</div>


		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-primary form-control">Update</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Student" asp-action="Index" class="btn btn-secondary border form-control">Back to List</a>
			</div>
		</div>
	</div>
</form>

@*for client site validation (validate without submit button) we need to use js script in create.cshtml *@
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}
